{% if module.section_divider_type == "waves" %}
  {% set bottom_divider_style = 'hero-section-divider-wave-2' %}
  {% set top_divider_style = 'hero-section-divider-wave-1' %}
{% elif module.section_divider_type == "angle" %}
  {% set bottom_divider_style = 'hero-section-divider-angle-2' %}
  {% set top_divider_style = 'hero-section-divider-angle-1' %}
{% elif module.section_divider_type == "flat" %}
  {% set bottom_divider_style = '' %}
  {% set top_divider_style = '' %}
{% endif %}

<section class="section-base section-didvider-buffer" id="{{ name }}"> 
  <div class="row-fluid content-layouts-main">
  
  <div class="heading-main text-centered">
    <h2 class="title" style="color: {{ module.style.section_header_text_color.color }};"> {{ module.section_title }}</h2>
    <div class="heading-text" style="color: {{ module.style.section_header_text_color.color }};">
      {{ module.section_subtext }}
    </div> 
  </div>
  
  
  
  <div class="section-row theme-scroll-reveal">
    <div class="span12 dnd-column flex-content-container">
        {% for item in module.content_groups %}
          <div class="single-card three-col theme-border-radius theme-shadow-card-flat" style="background-color: rgba({{ color_variant(module.style.card_background_color.color, 0)|convert_rgb }}, {{ module.style.card_background_color.opacity / 100 }});">
            <div class="card-content">
              {% if item.image_or_icon == "icon" and item.icon_choice.unicode != 'null' %}
                <span class="feature__icon">	
                  {% icon
                    name="{{ item.icon_choice.name }}"
                    style="{{ item.icon_choice.type }}"
                    unicode="{{ item.icon_choice.unicode }}"
                  %}
                </span>
                {% elif item.image_or_icon == "image" %}
                  {% if item.content_icon.src %}
                    <div class="feature__image">
                      {% set sizeAttrs = 'width="{{ item.content_icon.width }}" height="{{ item.content_icon.height }}"' %}
                      {% if item.content_icon.size_type == 'auto' %}
                        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                      {% elif item.content_icon.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ item.content_icon.max_width }}px; max-height: {{ item.content_icon.max_height }}px"' %}
                      {% endif %}
                      <img src="{{ item.content_icon.src }}" alt="{{ item.content_icon.alt }}" {{ sizeAttrs }} loading="">
                    </div>
                  {% endif %}
                {% endif %}
              {{ item.text_content }}
            </div>  
          </div>
        {% endfor %}
    </div>  
    
<!--     <div class="span4 dnd-column"></div>
    <div class="span4 dnd-column"> -->
    
    
  </div>
  <div class="section-row theme-scroll-reveal">
    <a class="button section-cta-btn theme-shadow" href="{{ module.cta_url }}">{{ module.cta_text }}</a>
  </div>
  
  
    
   
    <div class="{{top_divider_style}}"></div>
    <div class="{{bottom_divider_style}}"></div>
    

  <div class="section-background-container" >
    {% if background_image.src %}
    <img class="img-parallax-horiz" src="{{ module.background_image.src }}" alt="{{ module.background_image.alt }}" loading="">
    {% endif %}
  </div>
  </div>
</section>

{% require_css %}
<style>
  #hs_cos_wrapper_{{name}} .single-card .feature__icon > span {
    background-color: rgba(0,0,0,0); 
  }
  #hs_cos_wrapper_{{name}} .single-card .feature__icon svg {
    fill: {{ module.style.color_for_all_icons.color }}; 
    width: {{ module.all_icon_width }}px;
  }
  
</style>
{% end_require_css %}