.single-card .feature__icon > span {
  border-radius: 50%;
  border-width: 0px;
  border-style: solid;
  display: inline-block;
  height: auto;
  margin: 0px auto 20px;
  text-align: center;
}

.single-card .feature__icon > div {
  text-align: center; 
}

.single-card .feature__icon svg {
  box-sizing: border-box;
  height: auto;
  padding: 20px;
}

.single-card .feature__image {
  display: block;
  margin: 0 auto 35px;
  text-align: center;
}

.single-card .feature__image img {
  max-width: 100%;
  height: auto;
}