<section class="section-base">
  <div class="icon-slider-main theme-scroll-reveal">
      <div class="container">
          <div class="heading-main text-centered animatedParent animateOnce">
              <h2 class="title animated slow"> {{ module.section_title }}</h2>
              <div class="heading-text">
                  {{ module.section_text }}
              </div> 
          </div>
          <div class="icon-slider">
              {% for item in module.services_slider %}
              <div class="icon-slide">
                  <div class="icon-slide-img">
                      {% if item.services_icon.src %}
                        <img src="{{ item.services_icon.src }}" alt="{{ item.services_icon.alt }}" class="img-foreground">
                      {% endif %}
                  </div>
                  <h3>{{ item.services_title }}</h3>
                  {{ item.icon_description }}
              </div>
              {% endfor %}
          </div>

      </div>
  </div>
  <div class="hero-section-divider-wave-1"></div>
  <div class="hero-section-divider-wave-2"></div>
</section>