<!--
  templateType: page
  isAvailableForNewContent: true
  label: Demo
  screenshotPath: ../images/template-previews/ThemeChallengeLP.png
-->
{% extends './layouts/base.html' %}

{% block header %}
  {% global_partial path="./partials/header-no-navigation.html" %}
{% endblock header %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--about', label='Main section' %}

    {% dnd_section 
    full_width=TRUE, 
    padding={
      'top': 0,
      'right': 0,
      'bottom': 0,
      'left': 0
    }, 
      %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
          'top': 0,
          'right': 0,
          'bottom': 0,
          'left': 0
        }, 
      %}
        {% dnd_row %}
          {% dnd_module path='../modules/Hero Section', 
          offset=0, 
          width=12,
          headline_text="Your Marketing Will Never Be the Same",
          richtext_field='<p style="color: #fff;">Ditch your playbook and build one that actually delivers results.</p>',
          cta_text="",
          hero_section_type='interior',
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  
  {# Form section #}
    {% dnd_section
      vertical_alignment='TOP'
    %}
      {% dnd_column
        offset=0,
        width=6,
        vertical_alignment="TOP"
      %}
        {% dnd_row vertical_alignment="TOP" %}
  
      {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute 'html' %}
              <h5>DROP US A LINE</h5>
              <h2>Take the First Step Today</h2>
              <p>In 30 minutes we can show you how to:</p>
              <ul>
                <li>Build a marketing engine that delivers qualified leads to your sales team</li>
                <li>Turn your website into a lead generating machine</li>
                <li>Shift your priorities to a revenue-first approach</li>
                <li>And much more!</li>
              </ul>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
  
      {% end_dnd_column %}
  
      {% dnd_column
        offset=6,
        width=6
      %}
        {% dnd_row %}
           {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute 'html' %}
               <!--[if lte IE 8]>
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
              <![endif]-->
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create({
                portalId: "395201",
                formId: "a76304e2-b643-45b5-9a47-df60da2adf63"
              });
              </script>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End form section #}

    
 
    

  {% end_dnd_area %}
</main>
{% endblock body %}

{% block footer %}
  {% global_partial path="./partials/footer-no-navigation.html" %}
{% endblock footer %}