<!--
  templateType: page
  isAvailableForNewContent: true
  label: Pricing
  screenshotPath: ../images/template-previews/ThemeChallengePricing.png
-->
{% extends './layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--pricing', label='Main section' %}

    {% dnd_section 
      full_width=TRUE, 
      padding={
        'top': 0,
        'right': 0,
        'bottom': 0,
        'left': 0
      }, 
      %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
          'top': 0,
          'right': 0,
          'bottom': 0,
          'left': 0
        }, 
      %}
        {% dnd_row %}
          {% dnd_module path='../modules/Hero Section', 
          offset=0, 
          width=12,
          headline_text='Straightforward Pricing',
          richtext_field='<p style="color: #fff">The info you need without the "B.S."</p>',
          cta_text='Get A Quote',
          hero_section_type='interior',
          hero_bottom_divider_type='waves',
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
    {% dnd_section 
    padding={
      'top': 100,
      'right': 0,
      'bottom': 100,
      'left': 0
    }, 
      %}
       {% dnd_column
            offset=0,
            width=3
          %}
             {% dnd_row %}
            {% dnd_module path="@hubspot/horizontal_spacer" %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% dnd_column 
          offset=3,
            width=6%}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text'
            horizontal_alignment='CENTER'
          %}
            {% module_attribute 'html' %}
              <h5 style="text-align: center;">YOU WANT IT? WE GOT IT</h5>
              <h2 style="text-align: center;">Find a Plan That's Right For You</h2>
              <p  style="text-align: center;">Don't see exactly what you are looking for? Shoot us a note and we will design a custom plan that fits you needs.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
    
    
    {# Pricing card section #}
    {% dnd_section
      padding={
        'top': 0
      }
    %}
      {% dnd_module path='../modules/Pricing Card',
        offset=0,
        width=4,
        card_title_text='Starter',
        card_subtitle_text='Best for individuals',
        card_cost_value='10',
        card_cost_value_unit='$',
        card_timeframe='per month',
        feature_list_group=[
          {
            'feature_list_title': 'Includes',
            'feature_list_item_text': [
              '24/7 customer support',
              'Unlimited storage',
              'Data analytics'
            ]
          }
        ],
        card_button_text='Get Started'
      %}
      {% end_dnd_module %}
  
      {% dnd_module path='../modules/Pricing Card',
            offset=4,
            width=4,
            card_title_text='Pro',
            card_subtitle_text='Best for teams',
            card_cost_value='250',
            card_cost_value_unit='$',
            card_timeframe='per team, per month',
            feature_list_group=[
              {
                'feature_list_title': 'Includes',
                'feature_list_item_text': [
                  'Everything in Starter',
                  'Private coaching',
                  'Unlimited snacks'
                ]
              },
              {
                'feature_list_title': 'Plus',
                'feature_list_item_text': [
                  'Extra raffle tickets',
                  'Extra high fives'
                ]
              }
            ],
            card_button_text='Get Started'
          %}
          {% end_dnd_module %}
      {% dnd_module path='../modules/Pricing Card',
            offset=8,
            width=4,
            card_title_text='Enterprise',
            card_subtitle_text='Best for large companies',
            card_cost_value='999',
            card_cost_value_unit='$',
            card_timeframe='per month',
            feature_list_group=[
              {
                'feature_list_title': 'Includes',
                'feature_list_item_text': [
                  'Everything in Pro',
                  'Access to proprietary templates',
                  'A private jet'
                ]
              },
              {
                'feature_list_title': 'Plus',
                'feature_list_item_text': [
                  'You automatically win every raffle',
                  'What more do you want'
                ]
              }
            ],
            card_button_text='Get Started'
          %}
          {% end_dnd_module %}
      
    {% end_dnd_section %}
    {# End pricing card section #}
  
  {% dnd_section 
    padding={
      'top': 100,
      'right': 0,
      'bottom': 0,
      'left': 0
    }, 
      %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text'
            horizontal_alignment='CENTER'
          %}
            {% module_attribute 'html' %}
              <h5 style="text-align: center;">PEOPLE LIKE WORKING WITH US</h5>
              <h2 style="text-align: center;">Don't Just Take Our Word for It</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
    {% dnd_section 
    padding={
      'top': 0,
      'right': 0,
      'bottom': 100,
      'left': 0
    }, 
      %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="../modules/Logo Section copy", 
          label="Logo Section copy",
          logos=[
          {
          'logo':{
                'alt': 'team working on laptops',
                'size_type': 'auto',
                'src': get_asset_url("../images/WEBSITE-WEEK-BLACK.png")
            }
          },
          {
          'logo':{
                'alt': 'team working on laptops',
                'size_type': 'auto',
                'src': get_asset_url("../images/studiocanvaslogo-blue.png")
            }
          },
          {
          'logo':{
                'alt': 'team working on laptops',
                'size_type': 'auto',
                'src': get_asset_url("../images/Symphony-2-logo-blue-small-double.png")
            }
          },
          {
          'logo':{
                'alt': 'team working on laptops',
                'size_type': 'auto',
                'src': get_asset_url("../images/consult logo.png")
            }
          }
          
            
          ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  {% dnd_section 
    padding={
      'top': 100,
      'right': 0,
      'bottom': 0,
      'left': 0
    }, 
      %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text'
            horizontal_alignment='CENTER'
          %}
            {% module_attribute 'html' %}
              <h5 style="text-align: center;">WE LOVE DATA - DATA LOVE US</h5>
              <h2 style="text-align: center;">The Numbers Speak For Themselves</h2>
              <p  style="text-align: center;">Listen, do we promise we are going to get you results? No. We pinky promise. On average our customers see...</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  
  {% dnd_section 
    padding={
      'top': 0,
      'right': 0,
      'bottom': 100,
      'left': 0
    }, 
      %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="../modules/Stat Counter" 
            label="Stat Counter",
            section_title="",
            animate_numbers=[
              {
                "number": "11,000",
                "title": "Conversions per week",
              },
              {
                "number": "900%",
                "title": "Increase in organic traffic",
              },
              {
                "number": "650",
                "title": "Sales opportunities per week",
              }
            ] 
            %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  {% dnd_section 
    padding={
      'top': 100,
      'right': 0,
      'bottom': 0,
      'left': 0
    }, 
      %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text'
            horizontal_alignment='CENTER'
          %}
            {% module_attribute 'html' %}
              <h5 style="text-align: center;">GET ANSWERS</h5>
              <h2 style="text-align: center;">Frequently Asked Questions</h2>
              <p  style="text-align: center;">Excepteur sint occaecat cupidatat non proident, sunt in<br>culpa qui officia deserunt mollit anim id est laborum.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
    
  
  {% dnd_section 
    padding={
      'top': 0,
      'right': 0,
      'bottom': 50,
      'left': 0
    }, 
      %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="../modules/Accordion", 
          label="Accordion",
          accordion_box=[
            {
              "accordion_title": "What should I put here?",
              "accordion_content": "<p>Don't overthink it! Use this module to create a useful information tool for visitors of your site. Think about the type of questions you would have after just briefly looking at what a company like this may offer. Try to anticipate the questions that people may have, and answer them in a delightful way!</p>",
            },
            {
              "accordion_title": "How do I backup my data?",
              "accordion_content": '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>',
            },
            {
              "accordion_title": "Is if really free?",
              "accordion_content": '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>',
            },
            {
              "accordion_title": "Can I get a refund?",
              "accordion_content": '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>',
            },
            {
              "accordion_title": "How much does a website cost?",
              "accordion_content": '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>',
            },
            {
              "accordion_title": "Should I purchase your product?",
              "accordion_content": '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>',
            }
          ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  
  {# New Section Module #}

    {% dnd_section 
    full_width=true, 
    padding={
      'top': 0,
      'right': 0,
      'bottom': 0,
      'left': 0
    }, 
      %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
          'top': 0,
          'right': 0,
          'bottom': 0,
          'left': 0
        }, 
      %}
        
        {% dnd_row %}
          {% dnd_module path='../modules/Call To Action' offset=0, width=12 %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  

  {% end_dnd_area %}
</main>
{% endblock body %}
