.logo-section { padding: 68px 0 50px; width: 100%; position:relative; overflow:hidden; }
.logo-section .title { width: 100%; text-align: center;margin-bottom: 30px; }
.logo-section .logo-slider { line-height: 0px; }
.logo-section .logo-slide { text-align: center; width: 100%; line-height: 0; padding: 0 15px; }
.logo-section .logo-slide img { float: none; display: inline-block; filter: grayscale(1); transition: all 250ms ease-in-out; width: 100%; height: auto;}
.logo-section .logo-slide img:hover { float: none; display: inline-block; filter: grayscale(0); }
.logo-section .slick-track { display: flex; align-items: center; }
.logo-section .slick-slider .slick-dots { padding-top: 30px; }
.logo-section h2 { text-align: center; margin-bottom: 100px;}

@media(max-width:1229px){
    .logo-section { padding: 60px 0 50px; }
    .logo-section .slick-slider .slick-dots { padding-top: 20px; }
}

@media(max-width:991px){
    .logo-section { padding: 50px 0; }
}

@media(max-width:767px){
    .logo-section { padding: 45px 0; }
    .logo-section .title { margin-bottom: 20px; }
}