<div class="pricing-card-container theme-shadow theme-border-radius">
  <div class="card-top-box">
    <div class="card-top-line theme-color-tertiary-bg"></div>
    <h2>{{ module.card_title_text }}</h2>
    <p>{{ module.card_subtitle_text }}</p>
    <div class="cost-value"><span class="cost-value-unit">{{ module.card_cost_value_unit }}</span>{{ module.card_cost_value }}</div>
    <div class="cost-timeframe">{{ module.card_timeframe }}</div>
  </div>
  <div class="card-features-box">
    {% for feature in module.feature_list_group %}
      <h4>{{ feature.feature_list_title }}</h4>
      <ul>
        {% for item in feature.feature_list_item_text %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
  <div class="card-cta-box">
    <a class="button theme-shadow pricing-card-cta" href="{{ module.card_button_link }}">{{ module.card_button_text }}</a>
  </div>
</div>