.pricing-card-container {
  margin: 25px;
  transition: all 150ms ease-in-out;
}

.pricing-card-container:hover {
  transform: scale3d(1.05,1.05,1.05);
}

.card-top-box {
  position: relative;
  padding: 35px 20px 25px 25px;
/*   border-bottom: 1px solid rgba(0,0,0,0.1); */
  border-bottom: 2px dotted rgba(221,221,221,1);
  text-align: center;
}

.card-top-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  width: 100%;
}
.card-features-box {
  padding: 25px 35px;
  text-align: left;
}

.card-features-box ul li {
  color: #858b9b; 
}

.card-top-box h3, .card-top-box p, .card-top-box .cost-value, .card-top-box .cost-timeframe {
  text-align: center; 
}

.card-top-box .cost-value {
  font-weight: 500;
  font-size: 64px;
  letter-spacing: -0.09em;
}

.card-top-box .cost-value-unit {
  font-family: Roboto, sanserif;
  font-weight: 100;
  font-size: 24px;
  vertical-align: top;
  display: inline-block;
  padding-top: 15px;
  padding-right: 5px;
}

.card-top-box .cost-timeframe {
  font-weight: 100;
  font-size: 14px;
  color: #858b9b;
}
.card-cta-box {
  text-align: center;
  padding-bottom: 50px;
}
.pricing-card-cta {
  margin: 0 auto;  
}