<div class="footer-main-wrap">
  <div class="container">

    <div class="column-wrap">

      <div class="logo-wrap">
        {% set loadingAttr = module.logo_field.loading != 'disabled' ? module.logo_field.loading : '' %}

        {% logo
          override_inherited_src="{{ module.logo_field.override_inherited_src }}"
          src="{{ module.logo_field.src }}"
          alt="{{ module.logo_field.alt }}"
          width="{{ module.logo_field.width }}"
          height="{{ module.logo_field.height }}"
          loading="{{ loadingAttr }}"
          suppress_company_name="{{ module.logo_field.suppress_company_name }}"
        %}
      </div>

      <div class="menu">
        {% if module.menu_field %}
          {% menu id="{{ module.menu_field }}" %}
        {% endif %}
      </div>

    </div>

    {% if module.copyright_content %}
      <div class="copyright">
        {{ module.copyright_content }}
      </div>
    {% endif %}

  </div>
</div>