<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing Page (Blank)
  screenshotPath: ../images/template-previews/landing-page-2.png
  description: "A blank landing page template for building custom layouts."
-->
{% extends "../layouts/base.html" %}

{% block header %}
  {% global_partial path="./partials/header-no-navigation.html" %}
{% endblock header %}

{% block body %}

{% dnd_area "main_content", label="Landing Page Content" %}

  {# Add sections via the page editor #}

{% end_dnd_area %}

{% endblock body %}

{% block footer %}
  {% global_partial path="/Cognistry Theme/templates/partials/footer-lp.html" %}
{% endblock footer %}
