<section class="section-base dnd-section"> 

  <div class="tabservices_area fl100">
      <div class="tabservices_img_box">

          {% for item in module.tabs %}
          <div class="tabservices_img fl100 {{ item.box_image_video }}" id="srevtab{{loop.index}}">

              {% if item.box_image_video == 'back_img' %} 
               <div class="tabservices_imgitem fl100" style="background:url('{{ item.tab_image.src }}') no-repeat center center;">
                    
            </div>
              {% endif %}

              {% if item.box_image_video == 'back_video' %}   
              <div class="tabservices_imgitem tabservices_bgvideo fl100">
                  <span class="tabservices_iner fl100">{{ item.tab_video_code }}</span>
              </div>
              {% endif %}

          </div>
          {% endfor %}
      </div>
      <div class="tabservices_right right-space">
          <div class="tabservices_right_title fl100">
              <h5>{{ module.section_sub_title }}</h5>
              <h2>{{ module.section_title }}</h2>
          </div> 
          <div class="tabservices_boxcover fl100">
              {% for item in module.tabs %}
              <div class="tabservices_box theme-border-radius theme-shadow fl100">
                  <a class="tabservices_link fl100" href="#srevtab{{loop.index}}">
                      <div class="tabservices_inner fl100">
                          {% if item.tab_icon.src %}
                          <div class="tabservices_icon fl100">
                              <span class="tabservices_icon_defult">
                                  <img src="{{ item.tab_icon.src }}" alt="{{ item.tab_icon.alt }}" >
                              </span>
                          </div>
                          <h4>{{ item.tab_title }}</h4>
                        {% else %}
                          <h4 class="no-icon">{{ item.tab_title }}</h4>
                        {% endif %}
                      </div>
                    {% if item.tab_text %}
                      <div class="tabservices_box_text fl100">{{ item.tab_text }}</div>
                    {% endif %}
                  </a>
                  <span class="tabservices_inimg3 fl100" id="srevtab{{loop.index}}" >
                      {% if item.box_image_video == 'back_img' %} 
                      <div class="tabservices_inimg fl100" style="background:url('{{ item.tab_image.src }}') no-repeat center center;"> </div>
                      {% endif %}

                      {% if item.box_image_video == 'back_video' %}   
                      <div class="tabservices_inimg tabservices_bgvideo fl100">
                          {# <video width="100%" muted="" autoplay="" loop="" playsinline="">
                              <source src="{{ item.tab_video_url }}" type="video/mp4">
                          </video>#}
                          {{ item.tab_video_code }}
                      </div>
                      {% endif %}
                  </span>

              </div>
              {% endfor %}
          </div>
          <div class="back_style fl100">
              <a class="button" href="{{ module.button_link }}">{{ module.button_text }}</a>
          </div>
      </div>
  </div>
</section>
 