<div class="img-info-container theme-shadow theme-border-radius">
<!--   <div class="img-info-section-background-container"> -->
    
      {% if module.image.src %}
       
        <img class="img-parallax-overflow-info" src="{{ module.image.src }}" alt="{{ module.image.alt }}">
      {% endif %}
    
    
<!--   </div> -->
  <div class="info-content">
    <h3>{{ module.image_title }}</h3>
    <p>{{ module.image_subtitle }}</p>
    <ul class="social-links">
      {% for item in module.social_links %}
      <li>
        <a href="{{ item.social_account_external_url }}" target="_blank">
          {% icon
              name="{{ item.social_icon.name }}"
              style="{{ item.social_icon.type }}"
              unicode="{{ item.social_icon.unicode }}"
              
            %}
        </a>
      </li>
      {% endfor %}
      
    </ul>
  </div>
</div>


