{% if module.hero_section_type == "interior" %}
{% set hero_type = 'interior' %}
{% else %}
{% set hero_type = 'home' %}
{% endif %}

{% if module.hero_section_background_type == "gradient" %}
{% set hero_overlay = '' %}
{% else %}
{% set hero_overlay = 'hero-section-overlay' %}
{% endif %}

{% if module.hero_bottom_divider_type == "waves" %}
  {% set bottom_divider_style = 'hero-section-divider-wave-1' %}
{% elif module.hero_bottom_divider_type == "angle" %}
  {% set bottom_divider_style = 'hero-section-divider-angle-2' %}
{% elif module.hero_bottom_divider_type == "flat" %}
  {% set bottom_divider_style = '' %}
{% endif %}

{% if module.disable_text_animation %}
  {% set anim_status = 'off' %}
{% else %}
  {% set anim_status = 'on' %}

{% endif %}

<!--  ADD IN OVERLAY COLORING -->

<section class="hero-section {{ hero_overlay }} theme-section-styles section-bg-fixed {{ hero_type }}">
    <div class="hero-content theme-scroll-reveal">
      <h1 class="mobile-title"  style="color: {{ module.style.hero_text_color.color }};">{{ module.headline_text }}</h1>
      
      {% if module.disable_hero_animation == 0 %}
<!--       <h1 class="ml11">
        <span class="text-wrapper">
          <span class="line line1" style="background-color: {{ module.hero_text_color.color }};"></span>
          <span class="letters" style="color: {{ module.hero_text_color.color }};">{{ module.headline_text }}</span>
        </span>
      </h1> -->
      {% endif %}
      
      {% if module.disable_hero_animation %}
        <h1 class="no-anim-title"  style="color: {{ module.style.hero_text_color.color }};">{{ module.headline_text }}</h1>
      {% endif %}
      
      
      {{ module.richtext_field }}
      
        {% if module.cta_text %}
          <a class="button hero-btn theme-shadow" href="{{module.cta_link}}">{{ module.cta_text }}</a>
        {% endif %}
    </div>
    <div class="hero-section-background-container">
      {% if module.hero_section_background_type == 'video' %}
        
        <video autoplay loop muted playsinline>
          <source src="{{ module.background_video_source_url }}" type="video/mp4">
        </video>
      {% elif module.hero_section_background_type == 'image' %}
      
    
        {% if module.background_image.src %}
          {% set sizeAttrs = 'width="{{ module.background_image.width }}" height="{{ module.background_image.height }}"' %}
          {% if module.background_image.size_type == 'auto' %}
            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif module.background_image.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.background_image.max_width }}px; max-height: {{ module.background_image.max_height }}px"' %}
          {% endif %}
           {% set loadingAttr = module.background_image.loading != 'disabled' ? 'loading="{{ module.background_image.loading }}"' : '' %}
          <img src="{{ module.background_image.src }}" alt="{{ module.background_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
      
      {% elif module.hero_section_background_type == 'gradient' %}
        <div class="module-hero-gradient" style="background: linear-gradient(100.46deg, {{ module.style.background_gradient_color_1.color }} 7.79%, {{ module.style.background_gradient_color_2.color }} 92.21%);"></div>
      {% endif %}
      
  </div>
        {% if module.hero_jobbies.src %}
            <img src="{{ module.hero_jobbies.src }}" alt="{{ module.hero_jobbies.alt }}" class="section-img hero-section-jobbies-3 img-parallax-overflow">
        {% endif %}
          
          <div class="{{ bottom_divider_style }}"></div>
</section>