<!--
  templateType: global_partial
  label: Footer With Navigation
-->
<footer class="footer">
  {% dnd_area 'Above Footer' class='', label='Above Footer Drag and Drop' %}
  {% dnd_section %}
  {% end_dnd_section %}
  {% end_dnd_area %}
  <div class="footer__container">

    

    <div class="footer__bottom-section">
      <div class="row-fluid span12">

        <div class="column span12">
          {% module_block module 'footer_copyright'
            label='Copyright',
            path='@hubspot/rich_text'
          %}
            {% module_attribute 'html' %}
              <p>Copyright © {{ site_settings.company_name }} {{ year }}. All Rights Reserved. | <a href="#">Privacy Policy</a> </p>
            {% end_module_attribute %}
          {% end_module_block %}

        </div>

      </div>
    </div>

  </div>
  {% dnd_area 'Below Footer' class='', label='Below Footer Drag and Drop' %}
  {% dnd_section %}
  {% end_dnd_section %}
  {% end_dnd_area %}
</footer>
