<!--
  templateType: global_partial
  label: Header no navigation
-->
<header class="header header--no-navigation">
  {% dnd_area 'Above Header' class='', label='Above Header Drag and Drop' %}
  {% dnd_section %}
  {% end_dnd_section %}
  {% end_dnd_area %}
  <div class="header__container content-wrapper">
    <div class="header__logo">
      {% module 'site_logo' path='@hubspot/logo',
              img={
                'alt': 'Company logo',
                'src': get_asset_url("../../images/brand_logo_white.svg"),
                "size_type": "auto"
              }
       %}
    </div>
  </div>
  {% dnd_area 'Below Footer' class='', label='Below Footer Drag and Drop' %}
  {% dnd_section %}
  {% end_dnd_section %}
  {% end_dnd_area %}
</header>
