.recent-blog-card {
    background-color: #fff;
    overflow: hidden;
    height: 425px;
}

/* Resource Library CSS */
.row-fluid .recentblog_post {  padding:50px 0 380px; position:relative; }

.row-fluid .recentblog_post .wrapper { position:relative; }
.row-fluid .recentblog_post .recentblog_top { text-align:center; margin-bottom:80px; float:left; width:100%; }
/* .row-fluid .recentblog_post .recentblog_top h2 { font-weight: 800; font-size: 45px; line-height: 55px; } */
 
.row-fluid .recentblog_post .recentblog_box {  width:33.33%; float:left; }
.row-fluid .recentblog_post .recentblog_box.recentblog_box_first { width:100%; margin-bottom:40px;  padding:0 15px; }
.row-fluid .recentblog_post .recentblog_box .recentblog_first_inner { display:flex; align-items:center; background:#fff;  
/*   box-shadow: 20px 20px 40px rgba(23, 40, 71, 0.2); */
}
.row-fluid .recentblog_post .recentblog_box.recentblog_box_first .post_image { width:50%;}
.row-fluid .recentblog_post .recentblog_box.recentblog_box_first .post_content { width:50%; padding:40px; }

.row-fluid .recentblog_post .recentblog_box .post_image { width:100%; height:360px; background-size:cover !important; }
.row-fluid .recentblog_post .recentblog_box .post_topic { width:100%; float:left; }
.row-fluid .recentblog_post .recentblog_box .post_topic .topic_link { width:auto; float:left; margin-right:10px; font-size:16px; text-transform: uppercase; line-height:20px; margin-bottom: 10px;}
.row-fluid .recentblog_post .recentblog_box .post_topic .topic_link:hover{ color:#ef3555; }
.row-fluid .recentblog_post .recentblog_box .post_title { margin:10px 0; }
/* .row-fluid .recentblog_post .recentblog_box .post_title a { color: #354551; font-size: 26px; line-height: 36px;} */
/* .row-fluid .recentblog_post .recentblog_box .post_title a:hover{ color: #ef3555; }  */
/* .row-fluid .recentblog_post .recentblog_box .post_text { color: #949EA4; } */

.row-fluid .recentblog_post .recentblog_box { padding:0 15px; }
.row-fluid .recentblog_post .recentblog_box .recentblog_box_inner { box-shadow: 20px 20px 40px rgba(23, 40, 71, 0.2); }
.row-fluid .recentblog_post .recentblog_box .post_content { padding:30px; }
.row-fluid .recentblog_post .recentblog_box.recentblog_box_secound .post_image { height:220px;}
.row-fluid .recentblog_post .recentblog_box.recentblog_box_secound .post_title a { font-size:24px; line-height: 32px; }


@media (min-width: 992px) and (max-width: 1240px){

    
    .row-fluid .recentblog_post .recentblog_box .post_content { padding:20px; }
    .row-fluid .recentblog_post .recentblog_box.recentblog_box_secound .post_title a { font-size: 20px; line-height: 30px; }
    .hide-lg { display: none; visibility: hidden; }
}

@media (min-width: 768px) and (max-width: 991px){

    
    .row-fluid .recentblog_post { padding:120px 0 320px; }
    
    
    .row-fluid .recentblog_post .recentblog_box.recentblog_box_first .post_image { height: 320px; }
    .row-fluid .recentblog_post .recentblog_box .post_content { padding:20px 15px; }
    .row-fluid .recentblog_post .recentblog_box.recentblog_box_secound .post_title a { font-size: 18px; line-height: 26px; }
    
    .row-fluid .recentblog_post .recentblog_top { margin-bottom: 50px; }
    .row-fluid .recentblog_post .recentblog_top h2 { font-size: 36px; line-height: 52px; }
    
    .row-fluid .recentblog_post .recentblog_box.recentblog_box_secound .post_image { height:180px; }
    
    
}

@media (min-width: 768px){

    .hide-lg { display: none; visibility: hidden; }
   
}


@media (min-width: 100px) and (max-width: 768px){

    .hide-sm { display: none; visibility: hidden; }
   .row-fluid .recentblog_post .recentblog_box {  width:100%; float:left; margin-bottom: 15px;}
}