<div class="recentblog_post fl100">
    <div class="wrapper">

        <div class="recentblog_cover fl100">
            {% set recent_posts = blog_recent_posts(module.select_blog, 4) %}
            {% for recent_post in recent_posts %}
            {% if loop.index == 1 %} 
                <div class="recentblog_box recentblog_box_first fl100 hide-sm">
                    <div class="recentblog_first_inner theme-border-radius theme-shadow fl100">
                        <div class="post_image theme-border-radius-card-left-half fl100" style="background:url('{{ recent_post.featured_image }}') no-repeat center center;"></div>
                        <div class="post_content fl100">
                            <div class="fl100 sameheight">
                                <span class="post_topic fl100">
                                    {% for topic in recent_post.topic_list|first %}
                                    <a class="topic_link" href="{{ recent_post.absolute_url }}">{{ topic.name }}</a>
                                    {% endfor %}
                                </span>
                                <div class="post_title fl100"><a class="h4" href="{{ recent_post.absolute_url }}"> {{ recent_post.name }} </a></div>
                                <div class="post_text fl100"> {{ recent_post.post_body|truncatehtml(150)|striptags  }} </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recentblog_box recentblog_box_secound hide-lg">
                  <div class="recent-blog-card theme-border-radius theme-shadow fl100">
                    <div class="post_image fl100" style="background:url('{{ recent_post.featured_image }}') no-repeat center center;"></div>
                    <div class="post_content fl100">
                      <div class="fl100 samehieght">
                        <span class="post_topic fl100">
                          {% for topic in recent_post.topic_list|first %}
                          <a class="topic_link" href="{{ recent_post.absolute_url}}">{{ topic.name }}</a>
                          {% endfor %}
                        </span>
                        <div class="post_title fl100"><a class="h4" href="{{ recent_post.absolute_url }}"> {{ recent_post.name }} </a></div>
                      </div>
                    </div>
                  </div>
                </div>
                {% else %}
                <div class="recentblog_box recentblog_box_secound">
                    <div class="recent-blog-card theme-border-radius theme-shadow fl100">
                        <div class="post_image fl100" style="background:url('{{ recent_post.featured_image }}') no-repeat center center;"></div>
                        <div class="post_content fl100">
                            <div class="fl100 samehieght">
                                <span class="post_topic fl100">
                                    {% for topic in recent_post.topic_list|first %}
                                    <a class="topic_link" href="{{ group.absolute_url }}/blog/tag/{{ topic.slug }}">{{ topic.name }}</a>
                                    {% endfor %}
                                </span>
                                <div class="post_title fl100"><a class="h4" href="{{ recent_post.absolute_url }}"> {{ recent_post.name }} </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>