{# Module styles #}
{% require_css %}
  <style>
    {% scope_css %}

      {% if module.styles.alignment.alignment %}
        .button-wrapper {
          text-align: {{ module.styles.alignment.alignment.horizontal_align }};
        }
      {% endif %}

      .button {
        {% if module.styles.background.color.color %}
          background-color: rgba({{ module.styles.background.color.color|convert_rgb }}, {{ module.styles.background.color.opacity / 100 }});
        {% endif %}
        {{ module.styles.border.border.css }}
        {% if module.styles.corner.radius >= 0 %}
          border-radius: {{ module.styles.corner.radius ~ "px" }};
        {% endif %}
        {{ module.styles.text.font.css }}
        {{ module.styles.spacing.spacing.css }}
      }

      .button:hover,
      .button:focus {
        {% if module.styles.background.color.color %}
          background-color: rgba({{ color_variant(module.styles.background.color.color, -20)|convert_rgb }}, {{ module.styles.background.color.opacity / 100 }});
        {% endif %}
      }

      .button:active {
        {% if module.styles.background.color.color %}
          background-color: rgba({{ color_variant(module.styles.background.color.color, 20)|convert_rgb }}, {{ module.styles.background.color.opacity / 100 }});
        {% endif %}
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Link setup #}
{% set href = "#" %}
{% set rel = [] %}

{% if module.link is defined and module.link.url is defined %}
  {% if module.link.url.href %}
    {% set href = module.link.url.href %}
  {% endif %}

  {% if module.link.url.type == "EMAIL_ADDRESS" and module.link.url.href %}
    {% set href = "mailto:" ~ module.link.url.href %}
  {% endif %}

  {% if module.link.no_follow %}
    {% do rel.append("nofollow") %}
  {% endif %}

  {% if module.link.open_in_new_tab %}
    {% do rel.append("noopener") %}
  {% endif %}
{% endif %}

<div class="button-wrapper">
  <a
    class="button"
    href="{{ href if href == '#' else href|escape_url }}"
    {% if module.link is defined and module.link.open_in_new_tab %}target="_blank"{% endif %}
    {% if rel %}rel="{{ rel|join(' ')|escape_attr }}"{% endif %}
  >
    {{ module.button_text|escape }}
  </a>
</div>