<style>
  .sidebar-section .sidebar-sec a.side-trigger {color:{{module.style.sidebar_color.color}};border:2px solid {{module.style.sidebar_color.color}};}
  .sidebar-section .sidebar-sec a.side-trigger i {color:{{module.style.sidebar_color.color}}; border-bottom: 1px solid {{module.style.sidebar_color.color}};}
  .sidebar-section .sidebar-sec a.side-trigger i:before, .sidebar-section .sidebar-sec a.side-trigger i:after {color:{{module.style.sidebar_color.color}}; border-bottom: 1px solid {{module.sidebar_color.color}};}
</style>
<div class="sidebar-section">
    <div class="sidebar-sec">
        <a class="side-trigger">
            <i></i>
        </a>
        <div class="sidelist">
            <h3> {{ module.left_side_title }}</h3>
            {% simple_menu menu_tree="{{ module.left_side_menu }}"%}
        </div>
    </div>
    <div class="side-group">
        {% for item in module.content_section %}
        <div id="{{ item.scroll_id }}" class="scroll_section side-box">
            <div class="bottom-content">
                <div class="container">
                    <div class="content cont1">
                        {{ item.section_content_1 }}
                    </div>
                    {% if item.image_section_on_off %}
                    <div class="img-groupwrap">
                        <div class="img-group">
                            {% for item2 in item.images %}
                            <div class="img-box">
                                {% if item2.section_image.src %}
                                {#<img src="{{ item2.section_image.src }}" alt="{{ item2.section_image.alt }}">#}
                                <div class="img" style="background-image:url({{ item2.section_image.src }});"> </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% if item.section_content_2 %}
                    <div class="content cont2">
                        {{ item.section_content_2 }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>