.counter-section {width: 100%;}
.counter-group { display: flex; flex-wrap: wrap; max-width: 854px; margin: 75px auto 0; }
.counter-group .counter-box { width: 33.33%; float: left; padding: 30px 32px; text-align: center; }
.counter-group .counter-box .num { display: inline-block; font-size: 72px; line-height: 58px; letter-spacing: -3px; font-weight: 300; }
.counter-group .counter-box .num span { font-weight: 500; }
.counter-group .counter-box .title { padding-top: 27px; }

@media(max-width:1229px){
    .counter-section {}
    .counter-group { margin-top: 30px; max-width: 780px; }
    .counter-group .counter-box { padding: 20px; }
    .counter-group .counter-box .num { font-size: 55px; }
    .counter-group .counter-box .title { padding-top: 10px; }
}

@media(max-width:991px){
    .counter-section {  }
    .counter-group .counter-box { padding: 15px; }
    .counter-group .counter-box .num { font-size: 40px; line-height: 38px; letter-spacing: -1px; }
}

@media(max-width:767px){
    .counter-section { padding: 45px 0 30px; }
    .counter-group { max-width: 100%; justify-content: center; }
    .counter-group .counter-box { width: 50%; }
    .counter-group .counter-box .num { font-size: 35px; line-height: 32px; }
    
}

@media(max-width:480px){
    .row-fluid .counter-group .counter-box { width: 100%; padding: 15px 0; }
}